<!DOCTYPE html>
<html>
  <head>
    <title>Finance</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>  <%# this loads Sprockets/Rails asset pipeline %>
    <%= javascript_importmap_tags %> <%#  this loads JS from importmaps %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/24bb0b182c.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <%= Time.zone.now %>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <div id="messagess">
        <%= render 'layouts/messages' %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
